.tabla-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: #fff5;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 20px;
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"], input[type="date"] {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 10px);
}

/* button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
} */

/* button:hover {
    background-color: #2980b9;
} */

@media screen and (max-width: 480px) {
    .tabla-container {
        grid-template-columns: 1fr;
    }
}

.form-contenedor {
    display: flex;
    justify-content: space-between;
}

.form-ingresos,
.form-egresos {
    width: 45%;
}

.form-ingresos {
    background-color: #e0f0ff;
    padding: 1rem;
    border-radius: 10px;
}

.form-egresos {
    background-color: #ffe0e0;
    padding: 1rem;
    border-radius: 10px;
}

.form-ingresos h2,
.form-egresos h2 {
    margin-bottom: 10px;
}

.form-ingresos input,
.form-egresos input {
    margin-bottom: 10px;
    padding: 5px;
}

.form-ingresos button,
.form-egresos button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.form-ingresos button:hover,
.form-egresos button:hover {
    background-color: #2980b9;
}
