.table-content {
  margin: 0; /* Agrega esta línea para eliminar cualquier margen predeterminado */
  padding: 0; /* Agrega esta línea para eliminar cualquier relleno predeterminado */
}

.table-header-custom {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem; /* Ajusté el relleno aquí */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-custom {
  width: 100%;
}

.table-custom,
.th-custom,
.td-custom {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

.ver-custom {
  margin-right: 5px;
  padding: 6.5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  border: none;
  background-color: #00aaff;
  color: #ffffff;
  text-decoration: none;
}
.ver-custom:hover {
  background-color: rgb(118, 167, 231); 
}

.delete-custom {
  background-color: #dc3545;
  color: #fff;
}

@media only screen and (max-width: 450px) {
  .table-header-custom {
    width: 100%;
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
  }

  .table-custom {
    width: 100%;
    padding: 0; /* Eliminar el relleno */
  }
}

.navlink-button-custom {
  text-decoration: none;
  color: #fff;
}

.navlink-item-custom {
  text-decoration: none;
  color: #000000;
}

.add-custom {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
    color: #fff;
}

.add-custom:hover {
  background-color: rgb(118, 167, 231);
  text-decoration: none;
    color: #fff;
}

.custom-alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-alert p {
  background-color: #45a049;

}

.custom-alert button {
  background-color: #45a049;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.custom-alert button:hover {
  background-color: #dc3545;
}