.contenedor-financiero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff5;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 20px;
  margin: 10px;
}

.cont-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.titulo {
  display: inline-block; /* Esto permite centrar el div */
  text-align: center; /* Alinea el texto dentro del div */
}


.seccion-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Se redujo el espacio entre las tarjetas */
}

.tarjeta {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.tarjeta .info-icon {
  margin-right: 10px;
}

.tarjeta .contenido-tarjeta {
  flex-grow: 1;
}

.seccion-diagramas {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  border-radius: 20px;
  width: 250px;
}

.circle {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.info-text {
  text-align: center;
}
@media (max-width: 768px) {
  .circle-container{
    width: 180px; /* Ancho de los diagramas circulares */
    background-color: #f0f0f0; /* Fondo igual al de las tarjetas financieras */
  }
}

@media (max-width: 480px) {
  .contenedor-financiero {
    flex-direction: column;
    align-items: center;
  }

  .seccion-tarjetas {
    gap: 2px; /* Se ajustó el espacio entre las tarjetas */
    padding: 0px;
  }

  .tarjeta {
    width: calc(100% - 20px); /* Se redujo el ancho de las tarjetas para evitar el desbordamiento */
    padding: 15px;
    font-size: 14px;
  }

  .circle-container {
    flex-direction: column;
    align-items: center;
  }

  .circle-container{
    width: 120px; /* Ancho de los diagramas circulares */
    font-size: 14px; /* Tamaño de fuente */
    background-color: #f0f0f0; /* Fondo igual al de las tarjetas financieras */
  }
}
