
/*.App{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
background: url(../src/img/fondo1.svg) center / cover;*/


.page{
  min-height: 100vh;
  /* background: url(../src/img/fondo1.svg) center / cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-with-navbar{
	margin-left: 25%;
}
.login-container {
	/* background: url(../src/img/fondoLogin.svg) center / cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: ajusta la altura según sea necesario */
}


@media only screen and (max-width: 768px){
	.page-with-navbar{
		width: 100%;
		margin-left: 0;
	}


}